.margins{
    margin: 30px;
    padding: 20px;
    background-color: beige;
}

.automargin{
    width: 300px;
    margin: auto;
    background-color: rgb(208, 228, 244);
    border: solid 3px blue;
}

div{
    margin: 100px;
    background-color: beige;
    border: 3px dotted skyblue;
}


p{
    background-color: aquamarine;
    margin: inherit;
}

.contentbox{
    width: 300px;
    box-sizing: content-box;
    padding: 25px;
}

.borderbox{
    width: 300px;
    box-sizing: border-box;
    padding: 25px;
}

.maxwidth{
    max-width: 500px;
    background-color: hotpink;
    height: 300px;
}